<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Available Now !</h2>
                <hr class="light">
                <p class="text-faded">Order yours at Amazon</p>
                <a href="https://www.amazon.in/s/ref=bl_dp_s_web_0?ie=UTF8&search-alias=aps&field-keywords=richenza" class="btn btn-default btn-xl">Buy</a>
            </div>
        </div>
    </div>
</section>
